/* styles.css */
.ticker {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: #111;
  color: #00ff99;
  font-size: 14px;
  padding: 6px 10px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  position: relative;
}

#tickerContent {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  left: 100%;
}
